{{!-- // Authors: Riley Ovenshire and Triston Osborn

// Code has been altered from the nodejs-starter-app tutorial

Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main --}}

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <title>ManyMart Inventory Management</title>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        {{> nav}}
        {{{body}}}
    </div>
    <footer id="footer">
        <p id="footer-text">Copyright &copy; ManyMart 2023</p>
    </footer>
</div>

</body>
</html>