{{!-- // Authors: Riley Ovenshire and Triston Osborn

// Code has been altered from the nodejs-starter-app tutorial

Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main --}}


<div id='home'>
<h3>Welcome to ManyMart!</h3>
<p>
    ManyMart is an online inventory management system and e-Commerce platform with over 5,000 customers, 
    facilitating over 20,000 online transactions each year. 
    This service manages items and fulfills orders across many different departments. 
    ManyMart is dedicated to providing the best possible service to its customers by 
    ensuring protected purchases, providing a wide variety of products, and
    ensuring that all products are in stock and ready to ship.
</p>
</div>

</br>

<div id="descriptions">
  <h3>Dashboard</h3>
  <ul class="content-list">
    <li><strong><a href="/customers">Customers</a></strong> - View entire customer base. Add, delete and update customers as needed.</li>
    <li><strong><a href="/orders">Orders</a></strong> - View, add, search for, and delete current orders.</li>
    <li><strong><a href="/items">Items</a></strong> - Manage items in inventory. Add, delete, and update items as needed.</li>
    <li><strong><a href="/departments">Departments</a></strong> - View items by department. Easily navigate inventory with search functionality.</li>
    <li><strong><a href="/shipments">Shipments</a></strong> - Manage logistics and shipping. View, add, and delete shipments.</li>
    <li><strong><a href="/orderitems">Order Items</a></strong> - Manage items within a specific order.</li>
  </ul>
</div>