
<nav> 
    <a class="active" href="/">Home</a>
    <a href="/customers">Customers</a>
    <a href="/orders">Orders</a>
    <a href="/items">Items</a>
    <a href="/departments">Departments</a>
    <a href="/shipments">Shipments</a>
    <a href="/orderitems">Order Items</a>
</nav>